{% extends "inventory/static.html" %}
{% block body %}
        <div class="content" >
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                
                <div class="row">
                    <div class="card" >
                        <style>
                                    .mapouter {
                        height: 400px;
                        width: 400px;
                    }
                    
                    .gmap_canvas {
                        overflow: hidden;
                        background: none!important;
                        height: 400px;
                        width: 400px;
                    }
                            </style>
                       
                    </div>
                    <div class="card" style="width: 50rem;">
                        <div class="card-body">
                            <div class="card text-center">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">All Plants</a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a class="nav-link" href="#">ROOFTOP</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#">GROUND MOUNTED</a>
                                        </li> -->
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
                                        <table>
                                            <input type="text" placeholder="Plant Name"><i class="material-icons md-18">search</i>
                                            <tr>
                                                <th>Client Name</th>
                                                <th>Capacity</th>
                                                <th>Performance Ratio</th>
                                                <th>Specific Yield</th>
                                                <th>Power</th>
                                                <th>CUF</th>
                                                <th>Generation</th>

                                            </tr>
                                                {% for k in my_data %}
                                                    {% if access_id == k.super_id %}
                                                    <tr>
                                                        <td> <a href="plant">{{k.name}}</a></td>    
                                                        {% for c in college_details %}
                                                            {% if c['admin_id'] == k.id %}
                                                                <td>{{c.dc_capacity}} MWp</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                        <!-- {{inv_data}} -->
                                                        
                                                        {% set current_power=namespace(value=0) %}
                                                        {% set tot_gen=namespace(value=0) %}
                                                        {% set today_gen=namespace(value=0) %}
                                                        
                                                        {% for inv in inv_data %}
                                                            {% for i in inv %}
                                                                
                                                                {% if i['admin.id'] == k.id %}
                                                                    {% for j in inv_sl_data %}
                                                                        {% if (i.slave_id |float == j.ID[0] |float) and (i.equipment_id|float == j.EID[0]|float) %}
                                                                            {% if j.connect_status[0] != 'offline' %}
                                                                                {% set current_power.value = current_power.value + j.FIELD2[0]|float %}
                                                                                {% set tot_gen.value = tot_gen.value + (j.FIELD32[1]|float/1000) %}
                                                                                {% set today_gen.value = today_gen.value + (j.FIELD31[1]|float/1000) %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                        <!-- <td>{{today_gen.value}} %</td> -->
                                                        <!-- <td>{{poa_data}} %</td> -->
                                                        {% if today_gen.value != 0 %}
                                                            {% for p in poa_data %}
                                                                {% if p['admin_id'] == k.id %}
                                                                    {% for c in college_details %}
                                                                        {% if c['admin_id'] == k.id %}
                                                                            <td>{{'%0.2f'|format(((today_gen.value/1000)*100)/(c.dc_capacity*((p.poa_value/4)/100000)))}} %</td>
                                                                            <td>{{'%0.2f'|format(((today_gen.value)/(c.dc_capacity*1000)))}}  kWh/kWp</td>
                                                                            <td>{{current_power.value}} Kw</td>
                                                                            <td>{{'%0.2f'|format(((today_gen.value)/(c.dc_capacity*10*24)))}}%</td>
                                                                            <td>{{'%0.2f'| format(today_gen.value/1000)}} Mwh</td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            <td>0 %</td>
                                                            <td>0 kWh/kWp</td>
                                                            <td>{{current_power.value}} Kw</td>
                                                            <td>0 %</td>
                                                            <td>0 MWh</td>
                                                        {% endif %}
                                                        <router-outlet></router-outlet>
                                                    </tr>
                                                {% endif %}
                                                {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
                <!-- Scripts -->
                <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
                <script src="/static/assets/js/main.js"></script>
                <!--  Chart js -->
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
                <!--Chartist Chart-->
                <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
                <script src="/static/assets/js/init/weather-init.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
                <script src="/static/assets/js/init/fullcalendar-init.js"></script>
                <!--Local Stuff-->
                <script>
                jQuery(document).ready(function($) {
                    "use strict";

                    // Pie chart flotPie1
                    var piedata = [{
                            label: "Desktop visits",
                            data: [
                                [1, 32]
                            ],
                            color: '#5c6bc0'
                        },
                        {
                            label: "Tab visits",
                            data: [
                                [1, 33]
                            ],
                            color: '#ef5350'
                        },
                        {
                            label: "Mobile visits",
                            data: [
                                [1, 35]
                            ],
                            color: '#66bb6a'
                        }
                    ];

                    $.plot('#flotPie1', piedata, {
                        series: {
                            pie: {
                                show: true,
                                radius: 1,
                                innerRadius: 0.65,
                                label: {
                                    show: true,
                                    radius: 2 / 3,
                                    threshold: 1
                                },
                                stroke: {
                                    width: 0
                                }
                            }
                        },
                        grid: {
                            hoverable: true,
                            clickable: true
                        }
                    });
                    // Pie chart flotPie1  End
                    // cellPaiChart
                    var cellPaiChart = [{
                            label: "Direct Sell",
                            data: [
                                [1, 65]
                            ],
                            color: '#5b83de'
                        },
                        {
                            label: "Channel Sell",
                            data: [
                                [1, 35]
                            ],
                            color: '#00bfa5'
                        }
                    ];
                    $.plot('#cellPaiChart', cellPaiChart, {
                        series: {
                            pie: {
                                show: true,
                                stroke: {
                                    width: 0
                                }
                            }
                        },
                        legend: {
                            show: false
                        },
                        grid: {
                            hoverable: true,
                            clickable: true
                        }

                    });
                    // cellPaiChart End
                    // Line Chart  #flotLine5
                    var newCust = [
                        [0, 3],
                        [1, 5],
                        [2, 4],
                        [3, 7],
                        [4, 9],
                        [5, 3],
                        [6, 6],
                        [7, 4],
                        [8, 10]
                    ];

                    var plot = $.plot($('#flotLine5'), [{
                        data: newCust,
                        label: 'New Data Flow',
                        color: '#fff'
                    }], {
                        series: {
                            lines: {
                                show: true,
                                lineColor: '#fff',
                                lineWidth: 2
                            },
                            points: {
                                show: true,
                                fill: true,
                                fillColor: "#ffffff",
                                symbol: "circle",
                                radius: 3
                            },
                            shadowSize: 0
                        },
                        points: {
                            show: true,
                        },
                        legend: {
                            show: false
                        },
                        grid: {
                            show: false
                        }
                    });
                    // Line Chart  #flotLine5 End
                    // Traffic Chart using chartist
                    if ($('#traffic-chart').length) {
                        var chart = new Chartist.Line('#traffic-chart', {
                            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                            series: [
                                [0, 18000, 35000, 25000, 22000, 0],
                                [0, 33000, 15000, 20000, 15000, 300],
                                [0, 15000, 28000, 15000, 30000, 5000]
                            ]
                        }, {
                            low: 0,
                            showArea: true,
                            showLine: false,
                            showPoint: false,
                            fullWidth: true,
                            axisX: {
                                showGrid: true
                            }
                        });

                        chart.on('draw', function(data) {
                            if (data.type === 'line' || data.type === 'area') {
                                data.element.animate({
                                    d: {
                                        begin: 2000 * data.index,
                                        dur: 2000,
                                        from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                                        to: data.path.clone().stringify(),
                                        easing: Chartist.Svg.Easing.easeOutQuint
                                    }
                                });
                            }
                        });
                    }
                    // Traffic Chart using chartist End
                    //Traffic chart chart-js
                    if ($('#TrafficChart').length) {
                        var ctx = document.getElementById("TrafficChart");
                        ctx.height = 150;
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
                                datasets: [{
                                        label: "Visit",
                                        borderColor: "rgba(4, 73, 203,.09)",
                                        borderWidth: "1",
                                        backgroundColor: "rgba(4, 73, 203,.5)",
                                        data: [0, 2900, 5000, 3300, 6000, 3250, 0]
                                    },
                                    {
                                        label: "Bounce",
                                        borderColor: "rgba(245, 23, 66, 0.9)",
                                        borderWidth: "1",
                                        backgroundColor: "rgba(245, 23, 66,.5)",
                                        pointHighlightStroke: "rgba(245, 23, 66,.5)",
                                        data: [0, 4200, 4500, 1600, 4200, 1500, 4000]
                                    },
                                    {
                                        label: "Targeted",
                                        borderColor: "rgba(40, 169, 46, 0.9)",
                                        borderWidth: "1",
                                        backgroundColor: "rgba(40, 169, 46, .5)",
                                        pointHighlightStroke: "rgba(40, 169, 46,.5)",
                                        data: [1000, 5200, 3600, 2600, 4200, 5300, 0]
                                    }
                                ]
                            },
                            options: {
                                responsive: true,
                                tooltips: {
                                    mode: 'index',
                                    intersect: false
                                },
                                hover: {
                                    mode: 'nearest',
                                    intersect: true
                                }

                            }
                        });
                    }
                    //Traffic chart chart-js  End
                    // Bar Chart #flotBarChart
                    $.plot("#flotBarChart", [{
                        data: [
                            [0, 18],
                            [2, 8],
                            [4, 5],
                            [6, 13],
                            [8, 5],
                            [10, 7],
                            [12, 4],
                            [14, 6],
                            [16, 15],
                            [18, 9],
                            [20, 17],
                            [22, 7],
                            [24, 4],
                            [26, 9],
                            [28, 11]
                        ],
                        bars: {
                            show: true,
                            lineWidth: 0,
                            fillColor: '#ffffff8a'
                        }
                    }], {
                        grid: {
                            show: false
                        }
                    });
                    // Bar Chart #flotBarChart End
                });
                </script>
{% endblock %}