{% extends "inventory/static.html" %}
{% block body %}
     
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                {% if access=="super_admin" %}
                <div class="row">
                    <div class="col-lg-6">
                        {% for i in data %}
                        {% if i.id|int == id|int %}
                        <form action="/solar_panel/edit_smb/{{id}}" method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter SMB IDr</label>
                                <input type="text" shape="semi-round" placeholder="Name" type="text" class="form-control" name="smb_id" value="{{i.smb_id}}">
                            </div>
                             <div class="form-group">
                                <label for="exampleInputEmail1">Enter Capacity</label>
                                <input type="text" shape="semi-round" placeholder="Name" type="text" class="form-control" name="capacity" value="{{i.capacity}}">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter the Admin Group</label>
                                 <select name="groupadmin" onclick="admin_data_(this.value)">
                                    {% for j in admingroup_data %}
                                        {% if j['id'] == i['groupadmin'] %}
                                            <option selected="" value="{{j.id}}">{{j.name}}</option>
                                        {% else %}
                                            <option value="{{j.id}}">{{j.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter Equipment Id</label>
                                <input type="text" shape="semi-round" placeholder="equipment_id" type="text" class="form-control" name="equipment_id" value="{{i.equipment_id}}">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter slave Id</label>
                                <input type="text" shape="semi-round" placeholder="slave_id" type="text" class="form-control" name="slave_id" value="{{i.slave_id}}">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter the Admin Name</label>
                                 <select name="admin" id="admin"  onclick="admin_data_2(this.value)">
                                    <option value="{{i['admin.id']}}">{{i['admin.name']}}</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter the inverte name</label>
                                 <select name="inverter" id="eng_mtr">
                                    {% for j in inverter_data %}
                                        {% if j['id'] == i['inverter'] %}
                                            <option selected="" value="{{j.id}}">{{j.name}}</option>
                                        {% else %}
                                            <option value="{{j.id}}">{{j.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                          <div class="form-group">
                                <label for="exampleInputEmail1">status</label>
                                <select shape="semi-round" class="form-control" name="status">
                                    {% if i['status'] == 'active' %}
                                        <option selected="" value="active">active</option>
                                        <option value="inactive">inactive</option>
                                    {% else %}
                                        <option value="active">active</option>
                                        <option selected="" value="inactive">inactive</option>
                                    {% endif %}
                                </select>
                                
                            </div>
                            <button class="btn btn-primary" shape="round" status="success" type="submit">Submit</button>
                        </form>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
     <script type="text/javascript" src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1567487539/jquery.tabledit.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="/static/assets/js/main.js"></script>

<script type="text/javascript">
                                function admin_data_(value) 
                                {
                                let details_data = {{ admin_name_data | tojson }};
                                    var list = document.getElementById("admin");
                                    opt=""
                                    for (let data=0;data<details_data.length;data++) 
                                    {   
                                        if(details_data[data]['admin_grp_id']==value)
                                        {   
                                            
                                            opt+='<option value="'+details_data[data]['id']+'">'+details_data[data]['name']+'</option>'
                                        }
                                    }
                                    $('#admin').html(opt)
                                   
                                }
                            </script>
                            <script type="text/javascript">
                                function admin_data_2(value)
                                {
                                     let details_data = {{ inverter_data | tojson }};
                                     console.log(value)
                                     console.log(details_data)
                                    var list = document.getElementById("admin");

                                    opt2=""
                                    for (let data=0;data<details_data.length;data++) 
                                    {  
                                        if(details_data[data]['admin']==value)
                                        {   
                                            
                                            opt2+='<option value="'+details_data[data]['id']+'">'+details_data[data]['name']+'</option>'
                                        }
                                    }
                                    $('#eng_mtr').html(opt2)
                                }
                            </script>
{% endblock %}